<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="data:,">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            margin: 20px;
            padding: 0;
            line-height: 1.6;
        }
        a {
            color: rgb(0, 0, 0);
            text-decoration: none;
        }
        a:hover {
            color: #000000;
            text-decoration: underline;
        }
    </style>
    <title>Economic Calendar </title>
</head>
<body>
    <h1>Economic Calendar</h1>
<!-- TradingView Economic Calendar Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"> </span></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
  {
  "width": "100%",
  "height": "1000",
  "colorTheme": "light",
  "isTransparent": false,
  "locale": "en",
  "importanceFilter": "0,1",
  "countryFilter": "ar,au,br,ca,cn,fr,de,in,id,it,jp,kr,mx,ru,sa,za,tr,gb,us,eu"
}
  </script>
</div>
<!-- TradingView Economic Calendar Widget END -->

</body>
</html>